.Bgimage{
    background-image: url(../images/NiceBG.jpg) ;
}

.fontColor1{
    color: rgb(90, 1, 255);
}
.fontColor2{
    color: blueviolet;
}

.background1{
    background-color: black;
    opacity: 70%;
}
.card{
    margin-top: 5rem;
}